
</div>
</div>
<div class="footer-padding">
    <div class="footer">
        <a class="footer-link" href="https://www.linkedin.com/in/rohan-nayan-83b7b1220"><img src="/Images/LinkedIn.png" alt="LinkedIn"></a>
        <a class="footer-link" href="https://github.com/R0hanNayan"><img src="/Images/GitHub.png" alt="GitHub"></a>
        <p>© Rohan Nayan.</p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</body>
</html>
